@CHARSET "UTF-8";

.container .content .votacao {
	display: none;
	cursor: pointer;
}

.container .content .votacao.activate {
	display: inline;
}

.container .content .votacao .produto {
	border: 1px solid;
    border-radius: 10px;
    float: left;
    height: 300px;
    margin: 0 0 0 160px;
    width: 300px;
    text-align: center;
}

.container .content .votacao .produto img {
    margin: 34px;
}